body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    color: #343a40;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.registration-wrapper {
    padding: 20px;
    text-align: left;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    color: #007bff;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #6c757d;
}

.form-group label {
    font-weight: 600;
    font-size: 14px;
    color: #495057;
    margin-bottom: 5px;
    display: inline-block;
}

.form-control {
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-shadow: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
    outline: none;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
}

::placeholder {
    color: #6c757d;
}

@media (max-width: 575.98px) {
    .container {
        padding: 15px;
    }

    .form-row {
        display: block;
    }

    .form-group {
        margin-bottom: 10px;
    }
}
