body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.airplane-body {
    position: relative;
    width: 400px; /* Adjust width according to seat layout */
    text-align: center;
}

.seat-row {
    display: flex;
    flex-wrap: wrap; /* Allow seats to wrap to the next line */
    justify-content: center;
    margin-bottom: 10px;
}

.seat {
    background-color: #b89fc9;
    border-radius: 6px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 70px; /* Adjust seat width to fit 3 seats in a row */
    text-align: center;
}

.seat:hover {
    background-color: #a47fb0;
}

.selected {
    background-color: #e26b6b !important;
}

.selected-seat {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}
